[submodule "ambient-provider"]
	path = ambient-provider
	url = git@github.com:nvahmadi/ambient-provider.git
	branch = main
[submodule "ambient-patient"]
	path = ambient-patient
	url = git@github.com:nvahmadi/ambient-patient.git
	branch = main
